<style>

</style>

<h1>Tache</h1>
<% if @current_user.projects %>
  <table id="customers">
    <tr>
      <th>Nom du tache</th>
      <th>date du projet</th>
    </tr>
  <% @current_user.projects.each do |project| %>
    <tr>
      <%= content_tag(:td ,Task.find(2).name) %>
      <%= content_tag(:td ,Task.find(1).duration)%>
    </tr>
<% end %>
</table>
<% end %>
